*{
    margin:0;
}


.main-container{
    text-align: center;
    margin:0;
    background-color:rgb(250, 215, 140);
    height:100vh; 
}

label{
    margin:2rem;
}

button{
    display:inline-block;
    margin:2rem;
}
